<style>
 
@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900&family=Open+Sans:ital,wght@0,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap';

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    /* Fonts */
    --font-heading: 'causten';
    --font-family: 'poppins';
    /*Colors*/
    --color-gray: #111;
    --color-primary: #283260;
    --color-secondary: #89be2e;
    --color-accent: rgb(237 182 13);
    --color-tertiary: #801745; // #fd8a00;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --color-info: #17a2b8;
    --color-column: #95bc490d;
    --color-bg-home: #ffffff;
  }

  body {
    color: white;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
  }

  @media screen and (width > 1600px) and  (width < 1700px) {
    :root {
      padding-left: 10%;
      padding-right: 10%;
      background-color: #ebecef;
      color: #ebecef;
    }
  }

  @media screen and (width > 1700px) {
    :root {
      padding-left: 15%;
      padding-right: 15%;
      background-color: #ebecef;
      color: #ebecef;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.7rem;
    }
  }

  .main-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    color: var(--color-primary);
    /* background-color: rgb(255, 255, 255); */
    z-index: 0;
  }

  h1 {
    font-size: 2.3rem;
    color: var(--color-primary);
  }

  h3 {
    font-size: 1.4rem;
  }
  /* Footer style */
  .site-footer {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 20px;
  }

  .footer-center {
    display: grid;
    /* enable grid container */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: linear-gradient(var(--color-primary), var(--color-primary)) center/2px 100% no-repeat;
    grid-gap: 14px;
    margin-top: 25px;
  }

  .company-info {
    grid-column: 2;
  }

  .column-title {
    margin-bottom: 1rem;
  }

  .column-title p {
    font-size: 1.5rem;
  }

  .company-info p {
    margin-bottom: 10px;
  }

  .icon-info {
    display: inline-flex;
  }

  .icon-info p {
    padding-left: 2rem;
  }

  .contact-links {
    grid-column: 3;
    margin-left: 25%;
  }

  .contact-links p {
    margin-bottom: 10px;
  }

  .contact-links a {
    color: #1a5f98;
    font: normal normal normal 14px/1;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .contact-links a:hover {
    text-decoration: underline;
  }

  .company-name {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
  }

  .copyright {
    left: 50%;
    margin-top: 5px;
    text-align: center;
  }
</style>